PORT=5000
CLIENT_URL=http://127.0.0.1:8080
MONGODB_URI=mongodb+srv://obisystem:6PAdbTtWrcIFsQGr@obi.wo5zdy3.mongodb.net/appName=OBI
MONGODB_DB_NAME=obisystem
JWT_SECRET=replace_with_a_long_random_secret
